In [1]:
#Basic Libraries 📚
import pandas as pd
import xlrd
import os
import sys

In [2]:
# Basic Modules & Useful Installations:
import warnings
warnings.simplefilter(action='ignore')

In [3]:
# Completed Caracterization 🔧 

def data_caracterization(df):
    columns = df.columns.tolist()
    (dfrows,dfcolumns) = df.shape
    df.reset_index()
    print(f'Caracterization:\n')
    print(f'Number of Rows: {dfrows}\n')
    print(f'Number of Columns: {dfcolumns}\n')
    print(f'Columns Names/Variables/Features: {columns}\n')
    df.info()
    print(f'\n Head:\n')
    return df.head(5)

In [4]:
# Construct reading relative path
relative_path = "my-jobcation-path/01_data_mining_phase/raw_data/coworkings.csv"
relative_path2 = "my-jobcation-path/01_data_mining_phase/raw_data/campsites.csv"

# Change directory
os.chdir('C:\\Users\\Oscar\\Documents\\00_Ironhack\\P3_Final\\') #Change for your own directory

# Check directory
current_directory = os.getcwd()
print("Current working directory is:", current_directory)

Current working directory is: C:\Users\Oscar\Documents\00_Ironhack\P3_Final

In [5]:
#Construct absolute paths
coworkings_path = os.path.join(current_directory, relative_path)
campsites_path = os.path.join(current_directory, relative_path2)

In [6]:
# Coworkings reading
if os.path.exists(coworkings_path):
    try:
        # Try to read the Excel file
        data = pd.read_csv(coworkings_path)
        print("The file has been loaded successfully.")
        # Now you can work with the 'data' DataFrame
    except Exception as e:
        print("An error occurred while reading the file:", e)
else:
    print("The file does not exist at the specified path:", coworkings_path)

The file has been loaded successfully.

In [7]:
# Campsites reading
if os.path.exists(campsites_path):
    try:
        # Try to read the Excel file
        data2 = pd.read_csv(campsites_path)
        print("The file has been loaded successfully.")
        # Now you can work with the 'data' DataFrame
    except Exception as e:
        print("An error occurred while reading the file:", e)
else:
    print("The file does not exist at the specified path:", coworkings_path)

The file has been loaded successfully.

In [8]:
# Dataframe Creation
df = data.copy()
df2 = data2.copy()

In [9]:
data_caracterization(df)

Caracterization:

Number of Rows: 3520

Number of Columns: 8

Columns Names/Variables/Features: ['Name', 'Address', 'City', 'Rating', 'Website', 'Schedule', 'Latitude', 'Longitude']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520 entries, 0 to 3519
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       3520 non-null   object
 1   Address    3520 non-null   object
 2   City       3520 non-null   object
 3   Rating     3520 non-null   object
 4   Website    3520 non-null   object
 5   Schedule   3520 non-null   object
 6   Latitude   3520 non-null   float64
 7   Longitude  3520 non-null   float64
dtypes: float64(2), object(6)
memory usage: 220.1+ KB

 Head:

,Name,Address,City,Rating,Website,Schedule,Latitude,Longitude
0,JERÓNIMO by Bonsai (Coworking Space),"Cra de S. Jerónimo, 17, Madrid","""Madrid"",",4.5,https://jeronimobybonsai.com/,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho...",40.416775,-3.70379
1,The Small House CoWorKing,"C. de Sánchez Barcáiztegui, 36, Madrid","""Madrid"",",5,Website not available,['Monday: 9:00\u202fAM\u2009–\u20099:00\u202fP...,40.416775,-3.70379
2,Coworking LOOM Salamanca,"Calle de Don Ramón de la Cruz, 38, Madrid","""Madrid"",",4.5,https://loom.es/espacios-coworking/madrid/loom...,['Monday: 9:00\u202fAM\u2009–\u20097:00\u202fP...,40.416775,-3.70379
3,Coworking La Fabrica Cuzco espacio de oficinas,"Av. de Brasil, 17, Entreplanta, Madrid","""Madrid"",",4.8,https://coworkinglafabrica.es/avenida-de-brasil/,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho...",40.416775,-3.70379
4,The Shed CoWorking,"C. de Hermosilla, 48, 1º Derecha, Madrid","""Madrid"",",4.7,https://www.theshedcoworking.com/?utm_source=g...,['Monday: 9:00\u202fAM\u2009–\u20098:00\u202fP...,40.416775,-3.70379

In [10]:
data_caracterization(df2)

Caracterization:

Number of Rows: 3956

Number of Columns: 8

Columns Names/Variables/Features: ['Name', 'Address', 'City', 'Rating', 'Website', 'Schedule', 'Latitude', 'Longitude']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3956 entries, 0 to 3955
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       3956 non-null   object
 1   Address    3956 non-null   object
 2   City       3956 non-null   object
 3   Rating     3956 non-null   object
 4   Website    3956 non-null   object
 5   Schedule   3956 non-null   object
 6   Latitude   3956 non-null   float64
 7   Longitude  3956 non-null   float64
dtypes: float64(2), object(6)
memory usage: 247.4+ KB

 Head:

,Name,Address,City,Rating,Website,Schedule,Latitude,Longitude
0,Camping Osuna,"C. Jardines de Aranjuez, s/n, Madrid","""Madrid"",",3.9,http://www.campingosuna.com/,['Monday: 8:00\u202fAM\u2009–\u200911:30\u202f...,40.416775,-3.70379
1,Camping El Valle,"Carretera M-610, Bustarviejo a, Carr. de Miraf...","""Madrid"",",4,http://www.sierranorte.com/camping-elvalle/con...,['Monday: 10:00\u202fAM\u2009–\u20099:00\u202f...,40.416775,-3.70379
2,Camping Madrid Arco Iris,"M-501, 7, 1, Villaviciosa de Odón","""Madrid"",",4,http://www.campingmadridarcoiris.com/,['Monday: 8:00\u202fAM\u2009–\u200910:00\u202f...,40.416775,-3.70379
3,Camping San Juan,"Km 22, 2 M-600, Valdemorillo","""Madrid"",",4,http://www.campingsanjuan.com/,['Monday: 8:00\u202fAM\u2009–\u200912:00\u202f...,40.416775,-3.70379
4,Camping Pico de la Miel,"C. del Camping, La Cabrera","""Madrid"",",3.9,http://www.picodelamiel.com/,['Monday: 9:00\u202fAM\u2009–\u20099:00\u202fP...,40.416775,-3.70379

In [11]:
# Formatting to lower.case columns and clean empty spaces in columns names

df.columns = df.columns.str.lower()
df2.columns = df2.columns.str.lower()

In [12]:
# Cleaning City Column and other special characters.

# Coworkings
df["name"] = df["name"].str.replace(',','')
df["address"] = df["address"].str.replace(',','')
df["city"] = df["city"].str.replace(',','')
df["city"] = df['city'].str.replace('"', '')
df["schedule"] = df["schedule"].str.replace(',','')
df['schedule'] = df['schedule'].str.replace("'", '')


# Campsites
df2["name"] = df2["name"].str.replace(',','')
df2["address"] = df2["address"].str.replace(',','')
df2["city"] = df2["city"].str.replace(',','')
df2["city"] = df2['city'].str.replace('"', '')
df2["schedule"] = df2["schedule"].str.replace(',','')
df2['schedule'] = df2['schedule'].str.replace("'", '')

In [13]:
df.head(3)

,name,address,city,rating,website,schedule,latitude,longitude
0,JERÓNIMO by Bonsai (Coworking Space),Cra de S. Jerónimo 17 Madrid,Madrid,4.5,https://jeronimobybonsai.com/,[Monday: Open 24 hours Tuesday: Open 24 hours ...,40.416775,-3.70379
1,The Small House CoWorKing,C. de Sánchez Barcáiztegui 36 Madrid,Madrid,5,Website not available,[Monday: 9:00\u202fAM\u2009–\u20099:00\u202fPM...,40.416775,-3.70379
2,Coworking LOOM Salamanca,Calle de Don Ramón de la Cruz 38 Madrid,Madrid,4.5,https://loom.es/espacios-coworking/madrid/loom...,[Monday: 9:00\u202fAM\u2009–\u20097:00\u202fPM...,40.416775,-3.70379

In [14]:
df2.head(3)

,name,address,city,rating,website,schedule,latitude,longitude
0,Camping Osuna,C. Jardines de Aranjuez s/n Madrid,Madrid,3.9,http://www.campingosuna.com/,[Monday: 8:00\u202fAM\u2009–\u200911:30\u202fP...,40.416775,-3.70379
1,Camping El Valle,Carretera M-610 Bustarviejo a Carr. de Miraflo...,Madrid,4,http://www.sierranorte.com/camping-elvalle/con...,[Monday: 10:00\u202fAM\u2009–\u20099:00\u202fP...,40.416775,-3.70379
2,Camping Madrid Arco Iris,M-501 7 1 Villaviciosa de Odón,Madrid,4,http://www.campingmadridarcoiris.com/,[Monday: 8:00\u202fAM\u2009–\u200910:00\u202fP...,40.416775,-3.70379

In [15]:
# Construct reading relative path
relative_path = "my-jobcation-path/02_data_cleaning_phase/00_First Clean & SQL/coworkings.csv"
relative_path2 = "my-jobcation-path/02_data_cleaning_phase/00_First Clean & SQL/campsites.csv"

# Construct absolute paths
coworkings_save_path = os.path.join(current_directory, relative_path)
campsites_save_path = os.path.join(current_directory, relative_path2)

In [16]:
# Save and Encoding to SQL

df.to_csv(coworkings_save_path, index=False, encoding='utf-8')
df2.to_csv(campsites_save_path, index=False, encoding='utf-8')